.wrapper {
  width: 1240px;
  margin: 0 auto;
}

.top-nav {
  background-color: #333;
  height: 52px;
}
.top-nav .wrapper ul {
  display: flex;
  height: 52px;
  justify-content: flex-end;
  align-items: center;
}
.top-nav .wrapper ul li {
  color: #fff;
  height: 20px;
}
.top-nav .wrapper ul li a {
  display: block;
  color: #fff;
  padding: 0 15px 0 15px;
  font-size: 14px;
  border-right: 1px solid #999;
}
.top-nav .wrapper ul li:last-of-type a {
  padding-right: 0;
  border-right: none;
}

.top-nav .wrapper ul li:last-of-type i {
  padding-right: 4px;
  vertical-align: middle;
}
.top-nav .wrapper ul li a.active {
  color: #27ba9b;
}

.nav{
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  height: 88px;
}
.nav h1{
  width: 200px;
  height: 88px;
  font-size: 0;
  margin-right: 41px;
}
.nav h1 a{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat;
}
.nav .nav-items{
  width: 690px;
  height: 88px;
  padding-top: 33px;
  margin-right: 75px;
  
}
.nav .nav-items ul{
  display: flex;

  justify-content: space-between;
}
.nav .nav-items ul a{
  padding-bottom: 10px;
}
.nav .nav-items ul a.active{
  color: #27ba9b;
  border-bottom: 2px solid #27ba9b;
}